@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  height: 100vh;
  background: hsl(225, 100%, 94%);
  position: relative;
}

img {
  max-width: 100%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
}

.hero {
  border-radius: 10px 10px 0 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 1.2em 0;
}

.text h2 {
  padding-bottom: 1em;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.text p {
  font-size:  16px;
  color: hsl(224, 23%, 55%);
  line-height: 25px;
  padding-bottom: 1.5em;
}

.row {
  background-color: hsl(225, 100%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 10px;
}

.row .two {
  width: 40%;
  text-align: left;
}

.row .two span {
  font-size:  16px;
  color: hsl(224, 23%, 55%);
}
.row .three a {
  font-size: 14px;
  font-weight: 900;
}

.text button {
  width: 100%;
  margin: 1.3em 0;
  padding: 1.2em ;
  border: none;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  font-weight: 900;
  box-shadow: 3px 5px 5px rgb(220, 220, 244);
}

.text .cancel {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
}